{{recipe-listing recipe=model}}

<h3>{{#link-to "recipes.show" recipe}}{{recipe.title}}{{/link-to}}<small>{{#link-to "recipes.edit" recipe class="btn btn-default btn-sm"}}Edit{{/link-to}}</small></h3>
